<a href="https://colab.research.google.com/github/timon20b1076/Marketing_Strategy/blob/main/mybestwork_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/marketing-strategy1/marketing-strategy-personalised-offer/sample.csv
/kaggle/input/marketing-strategy1/marketing-strategy-personalised-offer/train_data.csv
/kaggle/input/marketing-strategy1/marketing-strategy-personalised-offer/test_data.csv

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data1 = pd.read_csv('../input/marketing-strategy1/marketing-strategy-personalised-offer/train_data.csv',sep =',')
data2 = pd.read_csv('/kaggle/input/marketing-strategy1/marketing-strategy-personalised-offer/test_data.csv')

In [ ]:
data1.head()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,2days,₹100000 or More,4~8,1,less1,Married partner,4 star restaurant,36,0,0,...,0,0,4,67,less1,22,Spring,Location B,0,No
1,2days,₹87500 - ₹99999,4~8,0,4~8,Married partner,Take-away restaurant,50plus,0,0,...,0,1,3,89,1~3,18,Summer,Location B,0,Yes
2,2days,₹87500 - ₹99999,less1,1,1~3,Single,Cold drinks,26,1,0,...,1,1,4,67,less1,7,Winter,Location A,1,Yes
3,10hours,₹37500 - ₹49999,less1,0,1~3,Single,Take-away restaurant,46,1,0,...,0,1,3,89,1~3,7,Summer,Location C,0,No
4,2days,₹100000 or More,never,1,1~3,Single,4 star restaurant,21,0,1,...,1,0,3,40,less1,7,Summer,Location C,0,No

In [ ]:
Y_train = data1["Offer Accepted"]

X_train = data1.drop("Offer Accepted", axis=1)
X_test = data2.copy()

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12379 entries, 0 to 12378
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      12379 non-null  object
 1   income_range                          12379 non-null  object
 2   no_visited_Cold drinks                12181 non-null  object
 3   travelled_more_than_15mins_for_offer  12379 non-null  int64
 4   Restaur_spend_less_than20             12258 non-null  object
 5   Marital Status                        12379 non-null  object
 6   restaurant type                       12379 non-null  object
 7   age                                   12379 non-null  object
 8   Prefer western over chinese           12379 non-null  int64
 9   travelled_more_than_25mins_for_offer  12379 non-null  int64
 10  travelled_more_than_5mins_for_offer   12379 non-null  int64
 11  no_visited_bars                       12286 non-null  object
 12  gender                                12379 non-null  object
 13  car                                   111 non-null    object
 14  restuarant_same_direction_house       12379 non-null  int64
 15  Cooks regularly                       12379 non-null  int64
 16  Customer type                         12379 non-null  object
 17  Qualification                         12379 non-null  object
 18  is foodie                             12379 non-null  int64
 19  no_Take-aways                         12235 non-null  object
 20  Job/Job Industry                      12379 non-null  object
 21  restuarant_opposite_direction_house   12379 non-null  int64
 22  has Children                          12379 non-null  int64
 23  visit restaurant with rating (avg)    12379 non-null  int64
 24  temperature                           12379 non-null  int64
 25  Restaur_spend_greater_than20          12219 non-null  object
 26  Travel Time                           12379 non-null  int64
 27  Climate                               12379 non-null  object
 28  drop location                         12379 non-null  object
 29  Prefer home food                      12379 non-null  int64
dtypes: int64(13), object(17)
memory usage: 2.8+ MB

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5305 entries, 0 to 5304
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      5305 non-null   object
 1   income_range                          5305 non-null   object
 2   no_visited_Cold drinks                5215 non-null   object
 3   travelled_more_than_15mins_for_offer  5305 non-null   int64
 4   Restaur_spend_less_than20             5244 non-null   object
 5   Marital Status                        5305 non-null   object
 6   restaurant type                       5305 non-null   object
 7   age                                   5305 non-null   object
 8   Prefer western over chinese           5305 non-null   int64
 9   travelled_more_than_25mins_for_offer  5305 non-null   int64
 10  travelled_more_than_5mins_for_offer   5305 non-null   int64
 11  no_visited_bars                       5255 non-null   object
 12  gender                                5305 non-null   object
 13  car                                   43 non-null     object
 14  restuarant_same_direction_house       5305 non-null   int64
 15  Cooks regularly                       5305 non-null   int64
 16  Customer type                         5305 non-null   object
 17  Qualification                         5305 non-null   object
 18  is foodie                             5305 non-null   int64
 19  no_Take-aways                         5245 non-null   object
 20  Job/Job Industry                      5305 non-null   object
 21  restuarant_opposite_direction_house   5305 non-null   int64
 22  has Children                          5305 non-null   int64
 23  visit restaurant with rating (avg)    5305 non-null   int64
 24  temperature                           5305 non-null   int64
 25  Restaur_spend_greater_than20          5201 non-null   object
 26  Travel Time                           5305 non-null   int64
 27  Climate                               5305 non-null   object
 28  drop location                         5305 non-null   object
 29  Prefer home food                      5305 non-null   int64
dtypes: int64(13), object(17)
memory usage: 1.2+ MB

In [ ]:
X_train["offer expiration"] = X_train["offer expiration"].replace("2days", 48)
X_train["offer expiration"] = X_train["offer expiration"].replace("10hours", 10)


X_test["offer expiration"] = X_test["offer expiration"].replace("2days", 48)
X_test["offer expiration"] = X_test["offer expiration"].replace("10hours", 10)

In [ ]:
X_train['income_range'].unique()

array(['₹100000 or More', '₹87500 - ₹99999', '₹37500 - ₹49999',
       'Less than ₹12500', '₹50000 - ₹62499', '₹12500 - ₹24999',
       '₹75000 - ₹87499', '₹25000 - ₹37499', '₹62500 - ₹74999'],
      dtype=object)

In [ ]:
X_train["income_range"] = X_train["income_range"].replace('₹100000 or More',8)
X_train["income_range"] = X_train["income_range"].replace('₹87500 - ₹99999',7)
X_train["income_range"] = X_train["income_range"].replace('₹37500 - ₹49999',3)
X_train["income_range"] = X_train["income_range"].replace('Less than ₹12500',0)
X_train["income_range"] = X_train["income_range"].replace('₹50000 - ₹62499',4)
X_train["income_range"] = X_train["income_range"].replace('₹12500 - ₹24999',1)
X_train["income_range"] = X_train["income_range"].replace('₹75000 - ₹87499',6)
X_train["income_range"] = X_train["income_range"].replace('₹25000 - ₹37499',2)
X_train["income_range"] = X_train["income_range"].replace('₹62500 - ₹74999',5)

In [ ]:
X_test["income_range"] = X_test["income_range"].replace('₹100000 or More',8)
X_test["income_range"] = X_test["income_range"].replace('₹87500 - ₹99999',7)
X_test["income_range"] = X_test["income_range"].replace('₹37500 - ₹49999',3)
X_test["income_range"] = X_test["income_range"].replace('Less than ₹12500',0)
X_test["income_range"] = X_test["income_range"].replace('₹50000 - ₹62499',4)
X_test["income_range"] = X_test["income_range"].replace('₹12500 - ₹24999',1)
X_test["income_range"] = X_test["income_range"].replace('₹75000 - ₹87499',6)
X_test["income_range"] = X_test["income_range"].replace('₹25000 - ₹37499',2)
X_test["income_range"] = X_test["income_range"].replace('₹62500 - ₹74999',5)

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5305 entries, 0 to 5304
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      5305 non-null   int64
 1   income_range                          5305 non-null   int64
 2   no_visited_Cold drinks                5215 non-null   object
 3   travelled_more_than_15mins_for_offer  5305 non-null   int64
 4   Restaur_spend_less_than20             5244 non-null   object
 5   Marital Status                        5305 non-null   object
 6   restaurant type                       5305 non-null   object
 7   age                                   5305 non-null   object
 8   Prefer western over chinese           5305 non-null   int64
 9   travelled_more_than_25mins_for_offer  5305 non-null   int64
 10  travelled_more_than_5mins_for_offer   5305 non-null   int64
 11  no_visited_bars                       5255 non-null   object
 12  gender                                5305 non-null   object
 13  car                                   43 non-null     object
 14  restuarant_same_direction_house       5305 non-null   int64
 15  Cooks regularly                       5305 non-null   int64
 16  Customer type                         5305 non-null   object
 17  Qualification                         5305 non-null   object
 18  is foodie                             5305 non-null   int64
 19  no_Take-aways                         5245 non-null   object
 20  Job/Job Industry                      5305 non-null   object
 21  restuarant_opposite_direction_house   5305 non-null   int64
 22  has Children                          5305 non-null   int64
 23  visit restaurant with rating (avg)    5305 non-null   int64
 24  temperature                           5305 non-null   int64
 25  Restaur_spend_greater_than20          5201 non-null   object
 26  Travel Time                           5305 non-null   int64
 27  Climate                               5305 non-null   object
 28  drop location                         5305 non-null   object
 29  Prefer home food                      5305 non-null   int64
dtypes: int64(15), object(15)
memory usage: 1.2+ MB

In [ ]:
X_train = X_train.replace("1~3", 2)
X_train = X_train.replace("4~8", 6)
X_train = X_train.replace("never", 0)
X_train = X_train.replace("less1", 0)
X_train = X_train.replace("gt8", 10)
X_train = X_train.replace("1", 1)
X_test = X_test.replace("1~3", 2)
X_test = X_test.replace("4~8", 6)
X_test = X_test.replace("never", 0)
X_test = X_test.replace("less1", 0)
X_test = X_test.replace("gt8", 10)
X_test = X_test.replace("1", 1)

In [ ]:
X_train.isnull().sum()

offer expiration                            0
income_range                                0
no_visited_Cold drinks                    198
travelled_more_than_15mins_for_offer        0
Restaur_spend_less_than20                 121
Marital Status                              0
restaurant type                             0
age                                         0
Prefer western over chinese                 0
travelled_more_than_25mins_for_offer        0
travelled_more_than_5mins_for_offer         0
no_visited_bars                            93
gender                                      0
car                                     12268
restuarant_same_direction_house             0
Cooks regularly                             0
Customer type                               0
Qualification                               0
is foodie                                   0
no_Take-aways                             144
Job/Job Industry                            0
restuarant_opposite_direction_house         0
has Children                                0
visit restaurant with rating (avg)          0
temperature                                 0
Restaur_spend_greater_than20              160
Travel Time                                 0
Climate                                     0
drop location                               0
Prefer home food                            0
dtype: int64

In [ ]:
j = ["no_visited_Cold drinks", "Restaur_spend_less_than20", "no_visited_bars", 
     "no_Take-aways", "Restaur_spend_greater_than20"]
for i in j:
  X_train[i].fillna(X_train[i].mean(), inplace=True)
  X_train[i] = X_train[i].astype(int)

In [ ]:
for i in j:
  X_test[i].fillna(X_test[i].mean(), inplace=True)
  X_test[i] = X_test[i].astype(int)

In [ ]:
def condition(t):
    if t == 'below21':
        return 0
    elif t == '50plus':
        return 4
    elif int(t) >= 21 and int(t) <= 30:
        return 1 
    elif int(t) >= 31 and int(t) <= 40:
        return 2 
    elif int(t) >= 41 and int(t) <= 50:
        return 3
X_test['age'] = X_test['age'].apply(condition)
X_train['age'] = X_train['age'].apply(condition)

In [ ]:
X_train = X_train.drop('car', axis =1)
X_test = X_test.drop('car', axis =1)
X_train = X_train.replace({'gender':{'Male': 1, 'Female' : 0}})
X_test = X_test.replace({'gender':{'Male': 1, 'Female' : 0}})
X_train = X_train.replace({'Qualification':{'Bachelors degree' : 4, 'Some college - no degree' : 2,'Graduate degree (Masters or Doctorate)' : 5, 'Associates degree' : 3,'High School Graduate' : 1, 'Some High School' : 0}})
X_test = X_test.replace({'Qualification':{'Bachelors degree' : 4, 'Some college - no degree' : 2,'Graduate degree (Masters or Doctorate)' : 5, 'Associates degree' : 3,'High School Graduate' : 1, 'Some High School' : 0}})
X_train = X_train.replace({'drop location':{'Location A': 0, 'Location B' : 1,'Location C': 3}})
X_test = X_test.replace({'drop location':{'Location A': 0, 'Location B' : 1,'Location C': 3}})

In [ ]:
num_train = X_train.select_dtypes(include = "int64")
cat_train = X_train.select_dtypes(include = "object")

num_test = X_test.select_dtypes(include = "int64")
cat_test = X_test.select_dtypes(include = "object")

In [ ]:
cat_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12379 entries, 0 to 12378
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Marital Status    12379 non-null  object
 1   restaurant type   12379 non-null  object
 2   Customer type     12379 non-null  object
 3   Job/Job Industry  12379 non-null  object
 4   Climate           12379 non-null  object
dtypes: object(5)
memory usage: 483.7+ KB

In [ ]:
num_col = []
for i in num_test.columns:
  num_col.append(i)

cat_col = []
for i in cat_test.columns:
  cat_col.append(i)
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
num_trans = StandardScaler()
cat_trans = OneHotEncoder()
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[
    ("num", num_trans, num_col),
    ("cat", cat_trans, cat_col)
], remainder="passthrough")
X_train = pd.DataFrame(ct.fit_transform(X_train))
X_test = pd.DataFrame(ct.fit_transform(X_test))

In [ ]:

from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,0.919008,-0.265423,-0.083699,0.886337,-0.537479,1.826860,-1.006240,2.729002,0.0,-0.523006,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,-1.088130,-0.657097,1.186761,-1.128238,-0.537479,-0.801460,0.993799,-0.366434,0.0,3.847736,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.919008,1.692949,-0.718930,0.886337,-1.196212,-0.801460,0.993799,-0.366434,0.0,-0.523006,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.919008,-0.657097,-0.718930,0.886337,-0.537479,0.950753,-1.006240,-0.366434,0.0,-0.523006,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,-1.088130,-1.048772,-0.718930,-1.128238,-0.537479,0.074647,0.993799,-0.366434,0.0,-0.523006,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
#Log_model = LogisticRegression().fit(X_train,Y_train)
#tree_model = DecisionTreeClassifier().fit(X_train,Y_train)
random_model = RandomForestClassifier().fit(X_train,Y_train)
#extra_model = ExtraTreesClassifier().fit(X_train,Y_train)
#xgb_model = XGBClassifier().fit(X_train,Y_train)
#KNN_model = KNeighborsClassifier().fit(X_train,Y_train)

In [ ]:
predi = random_model.predict(X_test)

In [ ]:
predi

array(['Yes', 'Yes', 'No', ..., 'Yes', 'Yes', 'Yes'], dtype=object)

In [ ]:
submission= pd.DataFrame(columns = ["id", "Offer Accepted"])

In [ ]:
submission["id"] = [i for i in range(len(predi))]
submission["Offer Accepted"] = predi

In [ ]:
submission.to_csv("submission.csv", index=False)